* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('https://images.pexels.com/photos/5563472/pexels-photo-5563472.jpeg');
  background-size: cover;
  background-position: center 85%;
  background-attachment: fixed;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.waterDrop {
  width: 30px;
  margin: 5px;
}
.subtitle {
  flex-basis: 100%;
  text-align: center;
  font-size: 2.3rem;
}
.tertiaryTitle {
  font-size: 2rem;
  text-align: center;
}
.nameDrop {
  color: #1e5d82;
}
.ctaWrapper {
  display: flex;
  justify-content: center;
}
.textLight {
  color: white;
}
.text-poolBlue {
  color: #1e5d82;
}
.bg-poolBlue {
  background-color: #1e5d82;
}
.m-5 {
  margin: 5vh 0;
}
.p-5 {
  padding: 5vh 0;
}
.bg-dark {
  background-color: #1a1a1a;
}
